.displayImage {
    max-width: 45%;
    transition: max-width 0.6s ease;
}
@media (max-width: 768px) {
    /* For mobile screens */
    .displayImage {
        max-width: 30%; /* 70% smaller */
    }
}
